@media  {

    body {
        width: 90%;
        margin: auto;
    }

    #menu ul {
        padding: 0;

    }

    #menu a{
        padding: 0.2em;
    }

    section,
    div {
        flex-wrap: wrap;
        
    }

    section article {
        width: 40%;
        margin: auto;
    }

    section .fondArticle{
        width: 100%;
    }

    .mainarticles div:first-child {
        width: 100%;
    }
    .mainarticles div:nth-child(2) {
        width: 40%;
    }
    .mainarticles div:nth-child(3) {
        width: 40%;
    }
    #baseline {
        flex-wrap: wrap;
    }
    #baseline article {
        width: 40%;
    }
    #baseline article:first-child {
        width: 40%;
    }
    #baseline article:nth-child(2){
        width: 40%;
    }
    #baseline article:nth-child(2) article {
        width: 90%;
    }

}
