$oswald: 'Oswald', sans-serif;
$abel: 'Abel', sans-serif;
$fond: url("../images/fond.png");

body {
    background-image: $fond;
    color: #525252;
    font-size: 1em;

    header {
        background-image: url("../images/header.png");
        padding-bottom: 4em;
        padding-top: 1em;

        h1 {
            color: white;
            font-size: 4em;
            text-transform: uppercase;
            padding-bottom: 0.5em;
            margin: 0;
            text-align: center;
            font-family: $oswald;
        }

        #menu ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            background-color: #52aae5;
            min-height: 4em;
            line-height: 4em;
            /*font-size: 1.5em;*/
            font-family: $abel;

            a {
                text-decoration: none;
                color: white;
                padding-left: 3em;
            }
        }

        section {
            background-image: $fond;
            padding: 2em;
            margin: auto;
            box-sizing: border-box;
            width: 90%;

            img {
                width: 100%;
            }
        }
    }

    section {
        h2 {
            font-size: 2em;
            color: #2A2A2A;
            font-family: $oswald;
        }

        h3 {
            color: #2A2A2A;
            font-family: $oswald;
            font-weight: bold;
        }

        p {
            line-height: 1.5em;
        }
    }

    section {
        display: flex;
        align-items: baseline;

        article {
            padding: 1em;
        }
    }

    .fondArticle {
        background-image: url("../images/fond-article.png");
        padding: 1em;
        margin: 1em;

        img {
            float: left;
            margin: 11% 10% 0 0;
            padding: 0;
        }

        p {
            margin-left: 54%;
        }

        h2 {
            font-weight: 300;
            /*margin-top: 8%;*/
            margin-left: 54%;
            margin-top: 10%;
            padding: 0;
        }
    }

    main {
        h2 {
            text-transform: uppercase;
            margin: 0;
        }

        h3 {
            margin: 0;
            padding-bottom: 1em;
            font-weight: bold;
            font-size: 1.5em !important;
        }

        p {
            width: 85%;
        }

        h3 {
            font-size: 2em;
            text-transform: uppercase;
            color: #FF3002;
        }
    }

    div {
        div:nth-child(1) {
            width: 50%;
            margin-left: 2%;

            img {
                width: 90%;
            }
        }

        div:nth-child(2) {
            width: 25%;
            margin-right: 2%;
        }

        div:nth-child(3) {
            margin-right: 2%;
        }

        div:nth-child(2) article {
            border-bottom: 1px solid #dbdbdb;

            article:nth-child(4) {
                border-bottom: none;
            }
        }
    }

    button {
        background-color: #ff3d00;
        border: none;
        color: white !important;
        border-radius: 2px;
        padding: 0.5em 1.5em;
    }

    div article ul {
        padding: 0;

        li {
            padding: 1em 0;
            border-bottom: 1px solid #dbdbdb;

            li:last-child {
                border-bottom: none;
            }
        }
    }

    .mainarticles {
        display: flex;
        align-items: baseline;
        article{
            margin-bottom: 1em;
        }

        li {
            list-style-type: none;
        }
    }

    #baseline {
        background-image: url("../images/fond-article.png");

        article:first-child {
            width: 50%;
            margin: 1em;

            p {
                background-image: $fond;
                padding: 1em;
                margin-bottom: 0;
            }

            h3 {
                margin: 0;
                padding: 1em;
                background-image: $fond;
            }
        }
        article:nth-child(2) {
            width: 50%;
        }

        article:nth-child(4) {
            margin-right: 2em;
            width: 40%;
        }

        .line {
            border-top: 1px solid #bdbdbd;
            padding-top: 1em;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    footer {
        background-image: url("../images/footer.png");
        margin: 0;
        padding: 1em;
        text-align: center;
    }
}
